**/data/
*.pyc
*/__pycache__
**/wandb/
**/experiments/
**/data/
**/*_data/
**/home_credit_data/
llm/llama/Llama-3-8B-Instruct-Finance-RAG/
llm/finetune/lora_qwen25_coder_7b/
*.ttf
*.pdf
*.docx
*.pth

**/.ipynb_checkpoints
**/outputs
**/output
**/results
